

<div class="team-title"><%=team.name%> <%=team.number%></div>

<div class="team-stats-section">
<div class="team-category">Robot Type: <%=team.robotType%></div>
</div>

<div class="team-stats-section">
<div class="team-category">Shoot: <%=team.shooterType%></div>
<div class="team-category">Bar: <%=team.barReached%></div>
</div>

<div class="team-stats-section">
<div class="team-category">Climbing: <%=team.climbingConsistency%></div>
<div class="team-category">Shooting: <%=team.shootingConsistency%></div>
</div>

<div class="team-stats-section">
<div class="team-category">Defense: <%=team.defenseBot%></div>
</div>

<div class="team-stats-section">
<div class="team-category">Auto: <%=team.autoConsistency%></div>
<div class="team-category">Balls in Auto: <%=team.numBallAuto%></div>
</div>

<div class="team-stats-section">
<div class="team-category">Balls Shot: <%=team.numBallsShot%></div>
<div class="team-category">Balls Missed: <%=team.numBallsMissed%></div>
</div>

<div class="team-stats-section">
<div class="team-category">Team Work: <%=team.teamWorkRating%></div>
</div>


<div class="team-stats-section">
<div class="team-category">Moved: <%=team.moved%></div>
<div class="team-category">Showed Up: <%=team.showedUp%></div>
</div>

<div class="team-stats-section">
<div class="team-category">Comments: <%=team.otherComments%></div>
</div>