

<div class="team-title"><%=team.name%> <%=team.number%></div>
<div class="team-category">Robot Type: <%=team.robotType%></div>
<div class="team-category">Shoot: <%=team.shooterType%></div>
<div class="team-category">Bar: <%=team.barReached%></div>
<div class="team-category">Climbing: <%=team.climbingConsistency%></div>
<div class="team-category">Shooting: <%=team.shootingConsistency%></div>
<div class="team-category">Defense: <%=team.defenseBot%></div>
<div class="team-category">Auto: <%=team.numBallAuto%></div>
<div class="team-category">Comments: <%=team.otherComments%></div>