<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
    <%- include('includes/search.ejs', {path:'/team/search'}) %> 
        <div class="main">
    <div class="team-stats-container">
        <form action="/game/stats/add/<%=gameName%>/<%=teamId%>" method="post" autocomplete="off">
            <div class="form-section">
                <label for="ballsShot">Balls Shot</label>
                <input type="number" name="ballsShot" class="num-input">
            </div>
            <div class="form-section">
                <label for="ballsMissed">Balls Missed</label>
                <input type="number" name="ballsMissed" class="num-input">
            </div>
            <div class="team-stat">
                <label for="barReached">Bar Reached</label>
                <select class='select' name="barReached" id="barReached">
                    <option value="LOW" selected>LOW</option>
                    <option value="MID">MID</option>
                    <option value="HIGH">HIGH</option>
                    <option value="TRAVERSAL">TRAVERSAL</option>
                </select>
            </div>
            <div class="form-section">
                <label for="numBallAuto">Balls in auto</label>
                <input type="number" class="num-input" name="ballsIn">
            </div>
            <div class="form-section">
                <label for="defense">Defense</label>
                <select name="defense" id="defense">
                    <option value="Not Relevant">Not Relevant</option>
                    <option value="GOOD">GOOD</option>
                    <option value="OK">OK</option>
                    <option value="BAD">BAD</option>
                </select>
            </div>
            <div class="form-section">
                <input type="checkbox" name="climbed">
                <label for="climbed">Sucessfull Climb</label>
            </div>
            <div class="form-section">
                <input class="check" type="checkbox" name="movedInGame" id="movedCheck">
                <label for="movedInGame">Didn't move in game</label>
            </div>
            <div class="form-section">
                <input class="check" type="checkbox" name="showedUoToGame" id="showedCheck">
                <label for="showedUoToGame">Didn't show up to game</label>
            </div>
            <div class="form-section">
                <label for="statComments">Comments</label>
                <input class="big-input" name="statComments">
            </div>
            <button class="general-btn" type="submit">Add Stats</button>
            <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>

        </form>
    </div>
        </div>
    <%- include('includes/nav.ejs') %> 
    </div>
</body>