<%- include('includes/top.ejs') %> 
<body>
<div class="top">
<%- include('includes/search.ejs',{path: '/game/search'}) %> 
    <div class="main">
    <div class="form-container">
      <form action = "/game/new" method="post" autocomplete="off">

    <div class="form-section">
        <label for="gameName">Game Name</label>
        <input class='input-txt' name="gameName">
    </div>
    <div class="form-section">
        <label for="gameType">Game Type</label>
        <select class="select" name="robotType" id="robotType">
            <option value="QUALIFIER" selected>QUALIFIER</option>
            <option value="PLAYOFF">PLAYOFF</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="gameTime">Game Time</label>
        <input class='time-input' type="time" name="gameTime">
    </div>
    <div class="form-section">
        <label for="redAliance">Red Aliance</label>
        <div class="aliance-container" name="redAliance">
            <select class='select' name="redTeam1" id="redTeam1">
                <option value="<%=teams[0]._id%>" selected><%=teams[0].name%></option>
                <% for(let i=1; i<teams.length; i++){%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                <% } %>
            </select>
            <select class='select' name="redTeam2" id="readTeam2">
                <option value="<%=teams[0]._id%>" selected><%=teams[0].name%></option>
                <% for(let i=1; i<teams.length; i++){%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                <% } %>
            </select>
            <select class='select' name="redTeam3" id="readTeam3">
                <option value="<%=teams[0]._id%>" selected><%=teams[0].name%></option>
                <% for(let i=1; i<teams.length; i++){%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="form-section">
        <label for="blueAliance">BlueAliance</label>
        <div class="aliance-container" name="blueAliance">
            <select class='select' name="blueTeam1" id="blueTeam1">
                <option value="<%=teams[0]._id%>" selected><%=teams[0].name%></option>
                <% for(let i=1; i<teams.length; i++){%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                <% } %>
            </select>
            <select class='select' name="blueTeam2" id="blueTeam2">
                <option value="<%=teams[0]._id%>" selected><%=teams[0].name%></option>
                <% for(let i=1; i<teams.length; i++){%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                <% } %>
            </select>
            <select class='select' name="blueTeam3" id="blueTeam3">
                <option value="<%=teams[0]._id%>" selected><%=teams[0].name%></option>
                <% for(let i=1; i<teams.length; i++){%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                <% } %>
            </select>
        </div>
    </div>
        <button class="general-btn" type="submit">Add Game</button>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
      </form>
    </div>
</div>
<%- include('includes/nav.ejs') %> 
</div>

</body>