<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
        <%- include('includes/search.ejs',{path:'/game/search'}) %> 
    <div class="main">
        <div class="page-container">
            <button class="general-btn" onclick="location.assign('/game/new')">Add Game</button>
            <div class="menu-games-container">
                <% for(let i=0; i<games.length; i++) {%>
                <div class="menu-game-container">
                    <div class="game-name-container">
                        <button class="link-btn game-name" onclick = "location.assign('/game/view/<%=games[i]._id%>')" type="submit"><%=games[i].name%></button>
                    </div>
                   <div class="game-teams-container">
                    <div class="game-teams-sub-container">
                       
                    <div class="with-container red-container">
                        <% for(let j=0; j<games[i].redAliance.length; j++){%>
                            <div class="game-team-number"><%=games[i].redAliance[j].number%></div>
                        <% } %> 
                     </div>
                        <div class="against-container blue-container">
                            <% for(let j=0; j<games[i].blueAliance.length; j++){%>
                                <div class="game-team-number"><%=games[i].blueAliance[j].number%></div>
                            <% } %> 
                        </div>
                    </div>
                </div>
                        <div class="game-btns-section">
                                <button class="small-btn" onclick="location.assign('/game/update/<%=games[i]._id%>')"><i class="fad fa-edit"></i></button>
                            <form action="/game/delete" method="post">
                                <button class="small-btn" type="submit"><i class="fad fa-trash"></i></button>
                                <input type="hidden" name="gameId" value = '<%=games[i]._id%>'>
                                <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
                            </form>
                        </div>
                    </div>
                <% } %> 
        </div>
      </div>
      </div>
      <%- include('includes/nav.ejs') %> 
      </div>
</body>