<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
        <%- include('includes/search.ejs') %> 
    <div class="main">
       
        <script>
            function decideTeamBackgroud(alianceColor, containerId){
                const container = document.getElementById(containerId)
                console.log(container)
                if(alianceColor=='RED'){
                    container.style.backgroundColor = '#780000'
                }
                else{
                    container.style.backgroundColor= '#020188'
                }
            }
        </script>
<div class="game-container">
    <div class="game-title"><%=game.name%></div>
    <div class="game-category">Time: <%=game.time%></div>
    <div class="game-category">Type: <%=game.type%></div>

    <div class="aliance-heading">Our Aliance</div>

    <% const ourAlianceColor = game.ourColor %>
    <div class="game-team" id="with0">
        <script>
            decideTeamBackgroud('<%=ourAlianceColor%>','with0')
        </script>
        <div class="team-info-container">
        <%-include('includes/team-info.ejs',{team: game.ourAliance[0]})%>
        </div>
    </div>
    <div class="game-team" id="with1">
        <script>
            decideTeamBackgroud('<%=ourAlianceColor%>','with1')
        </script>
        <div class="team-info-container">
        <%-include('includes/team-info.ejs',{team: game.ourAliance[1]})%>
        </div>
    </div>
    <div class="game-team" id="with2">
        <script>
            decideTeamBackgroud('<%=ourAlianceColor%>','with2')
        </script>
        <div class="team-info-container">
        <%-include('includes/team-info.ejs',{team: game.ourAliance[2]})%>
        </div>
    </div><br>

    <div class="aliance-heading">Opposing Aliance</div>
    <% const opposingAlianceColor = game.theirColor %>
    <div class="game-team" id="against0">
        <script>
            decideTeamBackgroud('<%=opposingAlianceColor%>','against0')
        </script>
        <div class="team-info-container">
        <%-include('includes/team-info.ejs',{team: game.opposingAliance[0]})%>
        </div>
    </div>
    <div class="game-team" id="against1">
        <script>
            decideTeamBackgroud('<%=opposingAlianceColor%>','against1')
        </script>
        <div class="team-info-container">
        <%-include('includes/team-info.ejs',{team: game.opposingAliance[1]})%>
        </div>
    </div>
    <div class="game-team" id="against2">
        <script>
            decideTeamBackgroud('<%=opposingAlianceColor%>','against2')
        </script>
        <div class="team-info-container">
        <%-include('includes/team-info.ejs',{team: game.opposingAliance[2]})%>
        </div>
    </div>
</div>

</div>
<%- include('includes/nav.ejs') %> 
</div>
</body>