<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
        <%- include('includes/search.ejs', {path:'/game/search'}) %> 
    <div class="main">
        
<div class="game-container">
    <div class="game-title"><%=game.name%></div>
    <div class="game-category">Time: <%=game.time%></div>
    <div class="game-category">Type: <%=game.type%></div>

    <div class="aliances-cotainer">
        <div class="red-aliance-container">
            <% for(let i=0; i<game.redAliance.length; i++){%>
                <div class="red-aliance">
                    <%-include('includes/team-info.ejs',{team: game.redAliance[i]})%>
                </div>
            <% } %> 
        </div>
        <div class="blue-aliance-container">
            <% for(let i=0; i<game.blueAliance.length; i++){%>
                <div class="blue-aliance">
                    <%-include('includes/team-info.ejs',{team: game.blueAliance[i]})%>
                </div>
            <% } %> 
        </div>
    </div>

    <div class="game-btns-section">
        <button class="small-btn" onclick="location.assign('/game/update/<%=game._id%>')"><i class="fad fa-edit"></i></button>
    <form action="/game/delete" method="post">
        <button class="small-btn" type="submit"><i class="fad fa-trash"></i></button>
        <input type="hidden" name="gameId" value = '<%=game._id%>'>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
    </form>
</div>
    
</div>

</div>
<%- include('includes/nav.ejs') %> 
</div>
</body>