<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
        <%- include('includes/search.ejs',{path:'/team/search'}) %> 
        <div class="main">
           <div class="profile-container">
                <div class="profile-sec">Name: <%=user.name%></div>
                <div class="profile-sec">Email: <%=user.email%></div>
                <div class="profile-sec">Access: <%=user.role%></div>

            <div class="profile-btns">
            <button class="general-btn" onclick="location.assign('/user/profile/edit')">Edit Profile</button>
            <form action="/user/logout" method="post">
                <button class="general-btn" type="submit">Logout</button>
                <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
            </form>
        </div>
           </div>
        </div>
        <%- include('includes/nav.ejs') %> 
    </div>
</body>