<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
        <%- include('includes/search.ejs') %> 
    <div class="main">
        <div class="page-container">
        <button class="general-btn" onclick="location.assign('/team/new')">Add Team</button>
        <div class="team-container">
            <% for(let i=0; i<teams.length; i++){%>
                <div class="team-title"><%=teams[i].name%> <%=teams[i].number%></div>
                <div class="team-category">Robot Type: <%=teams[i].robotType%></div>
                <div class="team-category">Shoot: <%=teams[i].shooterType%></div>
                <div class="team-category">Bar: <%=teams[i].barReached%></div>
                <div class="team-category">Climbing: <%=teams[i].climbingConsistency%></div>
                <div class="team-category">Shooting: <%=teams[i].shootingConsistency%></div>
                <div class="team-category">Defense: <%=teams[i].defenseBot%></div>
                <div class="team-category">Auto: <%=teams[i].numBallAuto%></div>
                <div class="team-category">Comments: <%=teams[i].otherComments%></div>
                <div class="btns-section">
                <form action="/team/delete" method="post">
                    <button class="small-btn" type="submit">Delete</button>
                    <input type="hidden" name="teamId" value = '<%=teams[i]._id%>'>
                    <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
                </form>
                <button class="small-btn" onclick="locaion.assign('/team/update/<%=teams[i]._id%>')">Update</button>
            
                </div>
             <% } %> 
        </div>
      </div>
    </div>
    <%- include('includes/nav.ejs') %> 
    </div>
</div>
</body>