<%- include('includes/top.ejs') %> 
<body>
<div class="top">
<% const NUM_POSES=6; %> 
<%- include('includes/search.ejs',{path:'/game/search'}) %> 
    <div class="main">
    <div class="form-container">
      <form action = "/game/update" method="post" autocomplete="off">

    <div class="form-section">
        <label for="gameName">Game Name</label>
        <input class='input-txt' name="gameName" value="<%=game.name%>">
    </div>
    <div class="form-section">
        <label for="gameType">Game Type</label>
        <select class="select" name="robotType" id="robotType">
            <option value="QUALIFIER" selected>QUALIFIER</option>
            <option value="PLAYOFF">PLAYOFF</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="gameTime">Game Time</label>
        <input class='time-input' type="time" name="gameTime" value="<%=game.time%>">
    </div>
    <div class="form-section">
        <label for="redAliance">Red Aliance</label>
        <div class="aliance-container" name="redAliance">

            <select class='select' name="redTeam1" id="redTeam1">
                <% for(let i=0; i<teams.length; i++){%>
                    <% if(teams[i].number==game.redAliance[0].number){%> 
                        <option value="<%=teams[i]._id%>" selected><%=teams[i].name%>  <%=teams[i].number%></option>
                    <%} else{%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                    <% } %> 
                <% } %>
            </select>

            <select class='select' name="redTeam2" id="redTeam2">
                <% for(let i=0; i<teams.length; i++){%>
                    <% if(teams[i].number==game.redAliance[1].number){%> 
                        <option value="<%=teams[i]._id%>" selected><%=teams[i].name%>  <%=teams[i].number%></option>
                    <%} else{%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                    <% } %> 
                <% } %>
            </select>

            <select class='select' name="redTeam3" id="redTeam3">
                <% for(let i=0; i<teams.length; i++){%>
                    <% if(teams[i].number==game.redAliance[2].number){%> 
                        <option value="<%=teams[i]._id%>" selected><%=teams[i].name%>  <%=teams[i].number%></option>
                    <%} else{%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                    <% } %> 
                <% } %>
            </select>

        </div>
    </div>

    <div class="form-section">
        <label for="blueAliance">Blue Aliance</label>
        <div class="aliance-container" name="blueAliance">
            <select class='select' name="blueTeam1" id="blueTeam1">
                <% for(let i=0; i<teams.length; i++){%>
                    <% if(teams[i].number==game.blueAliance[0].number){%> 
                        <option value="<%=teams[i]._id%>" selected><%=teams[i].name%>  <%=teams[i].number%></option>
                    <%} else{%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                    <% } %> 
                <% } %>
            </select>

            <select class='select' name="blueTeam2" id="blueTeam2">
                <% for(let i=0; i<teams.length; i++){%>
                    <% if(teams[i].number==game.blueAliance[1].number){%> 
                        <option value="<%=teams[i]._id%>" selected><%=teams[i].name%>  <%=teams[i].number%></option>
                    <%} else{%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                    <% } %> 
                <% } %>
            </select>

            <select class='select' name="blueTeam3" id="blueTeam3">
                <option value="<%=teams[0]._id%>" selected><%=teams[0].name%></option>
                <% for(let i=1; i<teams.length; i++){%>
                    <% if(teams[i].number==game.blueAliance[2].number){%> 
                        <option value="<%=teams[i]._id%>" selected><%=teams[i].name%>  <%=teams[i].number%></option>
                    <%} else{%>
                        <option value="<%=teams[i]._id%>"><%=teams[i].name%>  <%=teams[i].number%></option>
                    <% } %> 
                <% } %>
            </select>

        </div>
    </div>
        <button class="general-btn" type="submit">Update Game</button>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
        <input type="hidden" name="gameId" value = '<%=game._id%>'>
      </form>
    </div>
</div>
<%- include('includes/nav.ejs') %>
</div>

</body>