<%- include('includes/top.ejs') %> 
<body>
<div class="top">
    <%- include('includes/search.ejs',{path:'/team/search'}) %> 
    <div class="main">
    <div class="form-container">
      <form action = "/team/update" method="post">
    <div class="form-section">
        <label for="teamName">Name</label>
        <input class="input-txt" name = "teamName" value ="<%=team.name%>" required>
    </div>
    <div class="form-section">
        <label for="teamNumber">Number</label>
        <input class="num-input" name ="teamNumber" value="<%=team.number%>" required><br>
    </div>
    <div class="form-section">
        <label for="robotType">Robot Type</label>
        <select class="select" name="robotType" id="robotType">
            <option value="TANK">TANK</option>
            <option value="SWERVE" selected>SWERVE</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="barReached">Bar Reached</label>
        <select class='select' name="barReached" id="barReached">
            <option value="LOw">LOW</option>
            <option value="MID">MID</option>
            <option value="HIGH">HIGH</option>
            <option value="TRAVERSAL">TRAVERSAL</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="shooterType">Shooter Type</label>
        <select calss="select" name="shooterType" id="shooterType">
            <option value="LOw">LOW</option>
            <option value="HIGH">HIGH</option>
        </select><br>
        </div>
    <div class="form-section">
        <label for="climbingConsistency">Climb Consistency</label>
        <select class="select" name="climbingConsistency" id="climbingConsistency">
            <option value="BAD">BAD</option>
            <option value="OK">MID</option>
            <option value="GOOD">GOOD</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="shootingConsistency">Shooter Consistency</label>
        <select class="select" name="shootingConsistency" id="shootingConsistency">
            <option value="BAD">BAD</option>
            <option value="OK">MID</option>
            <option value="GOOD">GOOD</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="defenseBot">Defense Bot</label>
        <select class="select" name="defenseBot" id="defenseBot">
            <option value="NOT">NOT</option>
            <option value="BAD">BAD</option>
            <option value="OK">MID</option>
            <option value="GOOD">GOOD</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="autoConsistency">Auto Consistency</label>
        <select class="select" name="autoConsistency" id="autoConsistency">
            <option value="BAD" selected>BAD</option>
            <option value="OK">MID</option>
            <option value="GOOD">GOOD</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="numBallAuto">Balls in Auto</label>
        <input class="num-input" type="number" name="numBallAuto" value="<%=team.numBallAuto%>"><br>
    </div>
    <div class="form-section">
        <label for="ballsShot">Balls Shot</label>
        <input class="num-input" type="number" name="ballsShot" value="<%=team.ballsShot%>"><br>
    </div>
    <div class="form-section">
        <label for="ballsMissed">Balls Missed</label>
        <input class="num-input" type="number" name="ballsMissed" value="<%=team.ballsMissed%>"><br>
    </div>
    <div class="form-section">
        <label for="teamWork">Team Work Rating</label>
        <select name="teamWork" id="teamWork">
            <option value="TEAM">TEAM</option>
            <option value="SOLO">SOLO</option>
        </select><br>
    </div>
    <div class="form-section">
        <input class="check" type="checkbox" name="movedInLastGame" id="movedCheck">
        <label for="movedInLastGame">Didn't move in last game</label>
    </div>
    <div class="form-section">
        <input class="check" type="checkbox" name="showedUoToLastGame" id="showedCheck">
        <label for="showedUoToLastGame">Didn't show up to last game</label>
    </div>
    <div class="form-section">
        <label for="otherComments">Other Comments</label><br>
        <input class="big-input" type="text" name="otherComments"><br>
    </div>
        <button class="general-btn" type="submit">Update Team</button>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
      </form>
    </div>
</div>
<%- include('includes/nav.ejs') %> 
</div>
</div>
</body>