<%- include('includes/top.ejs') %> 
<body>
<div class="top">
    <%- include('includes/search.ejs',{path:'/team/search'}) %> 
    <div class="main">
    <div class="form-container">
      <form action = "/team/update" method="post" autocomplete="off">
        <div class="form-section">
            <label for="teamNumber">Number</label>
            <input class="num-input" name ="teamNumber" value="<%=team.number%>" required><br>
        </div>
    <div class="form-section">
        <label for="teamName">Name</label>
        <input class="input-txt" name = "teamName" value ="<%=team.name%>" required>
    </div>
    <div class="form-section">
        <label for="robotType">Robot Type</label>
        <select class="select" name="robotType" id="robotType">
            <option value="TANK">TANK</option>
            <option value="SWERVE" selected>SWERVE</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="barReached">Bar Reached</label>
        <select class='select' name="barReached" id="barReached">
            <option value="LOW">LOW</option>
            <option value="MID">MID</option>
            <option value="HIGH">HIGH</option>
            <option value="TRAVERSAL">TRAVERSAL</option>
            <option value="NONE">NONE</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="shooterType">Shooter Type</label>
        <select calss="select" name="shooterType" id="shooterType">
            <option value="LOW">LOW</option>
            <option value="HIGH">HIGH</option>
            <option value="NONE">NONE</option>
        </select><br>
        </div>
    <div class="form-section">
        <label for="defenseBot">Defense Bot</label>
        <select class="select" name="defenseBot" id="defenseBot">
            <option value="NOT">NOT</option>
            <option value="BAD">BAD</option>
            <option value="OK">MID</option>
            <option value="GOOD">GOOD</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="numBallAuto">Balls in Auto</label>
        <input class="num-input" type="number" name="numBallAuto" value="<%=team.numBallAuto%>"><br>
    </div>
   
    <div class="form-section">
        <label for="teamWork">Team Work Rating</label>
        <select name="teamWork" id="teamWork">
            <option value="TEAM">TEAM</option>
            <option value="SOLO">SOLO</option>
        </select><br>
    </div>
    <div class="form-section">
        <label for="otherComments">Other Comments</label><br>
        <input class="big-input" type="text" name="otherComments" value="<%=team.otherComments%>"><br>
    </div>
    <form action="/team/update">
        <button class="general-btn" type="submit">Update Team</button>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
        <input type ="hidden" name ="teamId" value= '<%=team._id%>'>
    </form>
    </div>
</div>
<%- include('includes/nav.ejs') %> 
</div>
</div>
</body>